# Virtual Environment
venv/
.venv/
env/
ENV/

# Python Cache
**/__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Local Environment Variables & Secrets
.env
.env.local
.env.*.local
*.env

# FAISS Vector DB Directory
vector_db/

# App Logs
logs/
*.log





# Disabled Multi-page files
pages_disabled/

.streamlit/secrets.toml
